*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #141414;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: whitesmoke;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    margin-left: 5px;
    color: #e50914;
    font-size: 50px;
}

header nav a{
    text-decoration: none;
    color: rgb(236, 232, 232);
    margin-right: 10px;
}

header nav a:hover{
    color: #aaa;
}

.pin{
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50)100%), url('/imagens/pin.jpg');
    height: 700px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.pin .descricao{
    margin-bottom: 90px;
    margin-top: 10px;
}

.aviso{
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #e50914;
    margin-top: 15%;
}

.botao{
    background-color: rgba(0, 0, 0, .50);
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: 3s ease all;
}

.botao:hover{
    background-color: white;
    color: black;
}

.botao i{
    margin-right: 8px;
}

.container{
    margin-left: 20px;
    margin-right: 20px;
}

.pin .container{
    width: 50%;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}

.carousel-filmes{
    margin-top: 10px;
}